body {
    font-family: Arial;
    margin: 40px;
}
input, button, textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
}
textarea {
    width: 90%;
    height: 300px;
}
#documentsList li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    background: #eee;
}
